---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Testimonial from "../components/Testimonial.astro";
import Studies from "../components/Studies.astro";
import Navigation from '../components/Navigation.astro'
import testimonials from "../content/testimonials.json";
import studies from '../content/studies.json';
// import { fade } from "astro:transitions";
---

<Layout title="Nutrifit">
	<main>
		<header class="header" id="home">
			<Navigation />
			<div class="logo-section">
				<Logo />
			</div>
			<h1 transition:animate="slide">Nutrióloga Andrea Guerrero</h1>
		</header>
		<section class="hero">
			<img src="Nutrifit-052.jpg" />
			<h2>"Tu guía hacia tus objetivos"</h2>
			<button class="action-button">Agendar una cita</button>
		</section>
		<section>
			<h3 id="reviews">Qué dicen mis pacientes de mi?</h3>
			<article>
				<ul class="list">
					{
						testimonials.map((review) => (
							<Testimonial
								name={review.name}
								content={review.content}
							/>
						))
					}
				</ul>
			</article>
		</section>
		<section>
			<h3 id="about">Conoce a tu nutri</h3>
			<p>
				Mas que lo que pueda agregar en formación académica y
				experiencia profesional, soy una persona que se ha dedicado a
				estudiar (y sigo estudiando) para ayudarte a ti a alcanzar tus
				objetivos de una manera saludable, respetuosa con tu cuerpo,
				creando habitos duraderos con planes de alimentación saludables,
				intentando romper con mitos de la nutrición y el ejercicio. 
			</p>
			<p>Soy
				una persona que busca darle a mis pacientes un espacio seguro en
				donde no se les juzgue.</p>
			<p>
				Soy fiel fan de todos mis pacientes, me gusta verlos disfrutar
				de su proceso nutricional y claro me llena de felicidad ver sus
				logros. Me apasiona el deporte, el mar, los atardeceres y el
				chismecito con mis pacientes en consulta.
			</p>
			<img src="Nutrifit-071.jpg" class="about-me-pic" />
			<h4>Formación académica</h4>
			<ul class="list">
				{studies.map(study => (<Studies src={study.img} title={study.title} alt={study.alt}/>))}
			</ul>
		</section>
	</main>
</Layout>

<style>
	main {
		padding: 0 1.5rem 1.5rem 1.5rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 1rem;
		line-height: 1.6;
	}

	h1 {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		align-self: flex-start;
	}

	h2 {
		text-align: end;
	}

	h3 {
		text-align: center;
	}

	.hero {
		display: flex;
		flex-direction: column;

		@media (min-width: 768px) {
			flex-direction: row;
		}
	}

	.logo-section {
		height: 60px;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		margin: 0px 16px;
	}

	.list {
		padding: 0;
	}

	.about-me-pic {
		width: 100%;
	}
</style>
